.directive-filter {
  padding:0;
  height:100%;
  z-index: 50;

  position: fixed;

  background: #f8f8f8;

  -moz-box-shadow: 3px 0 2px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 3px 0 2px 0 rgba(0,0,0,0.2);
  box-shadow: 3px 0 2px 0 rgba(0,0,0,0.2);

  .navbar-default {
    border:none;
  }

  .navbar {
    border-radius:0;
    height:100%;
    min-height: 590px;
    margin:0;
    width:100%;
    float:right;

    > * {
      padding:0;
      margin:0;
    }

    .navbar-form {
      margin:0;
      padding:0;

      .form-group {
        position: relative;
        text-align: left;

        width:100%;
        color:@flintColor;

        select {
          width:100%;
          text-align: right !important;
          text-transform: uppercase;
        }

        label {
          margin:7px 0;
          display: block;
        }

        .filter-item {
          width: 80%;
          display:block;
          margin:15px auto;
          height: 40px;
          color: white;
          position: relative;
          span.txt {
            margin: 0;
            display: block;
            line-height: 40px;
            margin-right: 35px;
            overflow:hidden;
            white-space: nowrap;
            text-overflow:ellipsis;
            text-indent: 30px;
            font-size: 1em;
          }
          input {
            float: left;
            margin-top: 12px;
          }
          span.btn_close {
            position: absolute;
            width: 15px;
            top: 0;
            right: 10px;
            margin: 0;
            line-height: 40px;
            font-weight: 300;
            opacity: 0.5;
          }
        }
      }
    }
  }

  .navbar-brand {
    background: url('logo.svg') no-repeat;
    background-size: 150px 48px;
    width:150px;
    height:48px;
    margin: 20px auto;
    float:none;
  }

  .btn_settings {
    background:url('sprite.svg') 0 -20px no-repeat;
    background-size: 960px 560px;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 25px;
    right: 10%;
  }

  .filter-search {
    width:80%;
    margin: 0 auto;

    input {
      width: 100%;
    }

    button {
      background: #515151;
      border: 0;
      border-radius: 3px;
      padding: 5px 20px;
      margin: 10px 0;
      float: right;
      color: white;
      font-family: 'Lobster Two', cursive;
    }
  }



  .select2-container {
    min-width:100% !important;
    cursor: pointer;
    padding:0 30px 0 0;

    .select2-search {
      input {
        background-image: none !important;
      }
    }

    .select2-drop-active {
      border-color:@lightFlintColor;
    }

    .select2-drop {
      border-radius: 0;
    }

    .select2-choice {
      height:30px;
      line-height: 30px;
      background:transparent;
      border:0;
      color:@flintColor !important;
      font-size: 16px !important;
      box-shadow: none;

      .select2-chosen {
          max-width: 160px;
          float:right;
          margin-right:30px !important;
        }

      .select2-arrow {
        background:transparent;
        border: 0;
        width:20px;

        b {
          background: url('logo.svg') 0 -41px !important;
          background-size: 800px 800px !important;
        }
      }
    }

    .select2-drop {
      width:300px;
      padding-top: 4px;

      .ui-select-choices {
        margin:0 4px 0 0 !important;
      }
    }

    .select2-results {
      .select2-highlighted {
        background:@lightFlintColor;
      }
    }
  }


  transition: margin-left .50s ease-out;
  -webkit-transition: margin-left .50s ease-out;
  -moz-transition: margin-left .50s ease-out;
  -o-transition: margin-left .50s ease-out;
  
  &.collapsed {
    width:300px;
    margin-left:-270px;

    transition: margin-left .50s ease-out;
    -webkit-transition: margin-left .50s ease-out;
    -moz-transition: margin-left .50s ease-out;
    -o-transition: margin-left .50s ease-out;
  }
}




.title-text {
  font-family: 'Lobster Two', cursive;
  width: 80%;
  margin: 10px auto;
  text-align: center;
  font-size: 1.4em;
  color: #515151;
}