<div class="navbar navbar-default" ng-click="expandFilter()">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
    ng-click="menuCollapsed = ! menuCollapsed">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>

<div class="navbar-brand"></div>
<div class="btn_settings"></div>

<div class="collapse navbar-collapse" collapse="menuCollapsed">

  <form class="margin-top-medium margin-bottom-medium">
    <div class="single-input filter-search">
      <span class="txt">What do you like?</span>
      <input type="text" id="filter-search" ng-change="changingFilter()">
      <button type="submit">Add</button>
      <div class="clearfix"></div>
    </div>
  </form>

  <form class="navbar-form" role="search">
    <p class="title-text">Your Interests:</p>
    <div class="form-group">
      <div class="single-input filter-item">
        <input type="checkbox" ng-model="filterOptions.crossfit" id="filter-crossfit" ng-change="changingFilter()">
        <label for="filter-crossfit">
          <span class="txt">Cross Fit</span>
          <span class="btn_close">X</span>
          <div></div>
        </label>
      </div>

      <div class="single-input filter-item">
        <input type="checkbox" ng-model="filterOptions.mountainbiking" id="filter-mountainbiking" ng-change="changingFilter()">
        <label for="filter-mountainbiking">
          <span class="txt">Mountain Biking</span>
          <span class="btn_close">X</span>
          <div></div>
        </label>
      </div>

      <div class="single-input filter-item">
        <input type="checkbox" ng-model="filterOptions.movies" id="filter-movies" ng-change="changingFilter()">
        <label for="filter-movies">
          <span class="txt">Movies</span>
          <span class="btn_close">X</span>
          <div></div>
        </label>
      </div>

      <div class="single-input filter-item">
        <input type="checkbox" ng-model="filterOptions.photography" id="filter-photography" ng-change="changingFilter()">
        <label for="filter-photography">
          <span class="txt">Photography</span>
          <span class="btn_close">X</span>
          <div></div>
        </label>
      </div>

      <div class="single-input filter-item">
        <input type="checkbox" ng-model="filterOptions.soccer" id="filter-soccer" ng-change="changingFilter()">
        <label for="filter-soccer">
          <span class="txt">Soccer</span>
          <span class="btn_close">X</span>
          <div></div>
        </label>
      </div>

      <div class="single-input filter-item">
        <input type="checkbox" ng-model="filterOptions.trailrunning" id="filter-trailrunning" ng-change="changingFilter()">
        <label for="filter-trailrunning">
          <span class="txt">Trail Running</span>
          <span class="btn_close">X</span>
          <div></div>
        </label>
      </div>

      
    </div>
  </form>
</div>

</div>

