<div class="people-list">
	<p class="title-text">People Who Like <br/>What You Like</p>
	<div class="people-container">
        <div ng-repeat="person in people" class="person">
			<div class="img-crop" ng-hide="$index >= 5">
				<img src="{{person.photos[2]}}"/>
			</div>
        </div>
	</div>
</div>