.directive-people-list {
	background:#E5E5E5;
	padding: 20px;
	height:100%;
	position: fixed;
	right:0;

	.title-text {
		padding-bottom: 20px;
		width:147px;
		line-height: 1.1em;
		border-bottom:solid 1px #436058;
	}

	.people-list {
		width: 100%;
		height:100%;

		.people-container {
			width:171px;
            margin: 0 auto;
		}
	}
}