<div class="profile-container">
  <div class="event" ng-show="selectedItem!==undefined">

    <div class="header-img">
      <p ng-if="selectedItem.firstName">{{(selectedItem.firstName + " " + selectedItem.lastName.substr(0, 1))}}. <br/>
      <i>{{selectedItem.location.city}}, {{selectedItem.location.state}}</i></p>
      
      <p ng-if="selectedItem.restaurantName">{{selectedItem.restaurantName}}<br/>
      <i>{{selectedItem.cuisine}}</i></p>
      
      <img src="{{selectedItem.headerImg}}">
      <div class="img-crop">
        <img src="{{selectedItem.logo || selectedItem.photos[1]}}"/>
      </div>
    </div>


    <div class="tab-container pull-left margin-top-small">
      <tabset>
        <tab heading="List View">

          <div class="selected-event-container" ng-show="selectedEvents.length > 0">
            <div ng-repeat="event in selectedEvents" class="selected-event">
              <div class="btn-close" ng-click="removeSelectedEvent($index)"><i class="fa fa-times"></i></div>
              
              <div class="content col-md-9 padding-none">
                <div class="logo-restaurant">
                  <img src="{{event.logo}}" sol-center-img container-width="160" container-height="130"/>
                </div>
                <div class="details">
                  <h2>{{event.title}}</h2>
                  <span class="description-cuisine">{{event.description}}</span>
                  <span class="description-timedate">{{event.start}}</span>
                </div>
              </div>
                
              <div class="col-md-3 buttons">
                <button class="btn btn-default rsvp" ng-class="{red: selectedItem.status.soloistsEateries==='soloists' && selectedItem.status.travelersLocals==='locals', yellow: selectedItem.status.soloistsEateries==='soloists' && selectedItem.status.travelersLocals==='travelers' && selectedItem.status.businessLeisure==='business', green: selectedItem.status.soloistsEateries==='soloists' && selectedItem.status.travelersLocals==='travelers' && selectedItem.status.businessLeisure==='leisure'}">SAVE</button>
                <button class="btn btn-default">Map It</button>
                <button class="btn btn-default">Info&nbsp;<i class="fa fa-caret-right"></i></button>
              </div>

              <div class="clearfix"></div>
            </div>
          </div>
          <div class="calendar" ng-if="selectedItem" ng-model="eventSources" calendar="profileCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>


          <!-- <ul class="restaurant-list">
            <li>
              <div class="img-crop">
                <img src="http://www.miami.com/sites/migration.miami.com/files/images/bulla-restaurant-logo.png"/>
              </div>

              <div class="info">
                <div class="col-md-8">
                  <h2 class="title">Restaurant Name</h2>
                  <p class="description">Mediterranean, Greek, Gyro, Fallafel, Rice Pudding</p>
                </div>
                <div class="col-md-4">
                  <button type="button" class="btn btn-default btn-lg">
                    <span class="fa fa-plus-square" aria-hidden="true"></span>&nbsp;&nbsp;Add
                  </button>
                </div>
              </div>
            </li>
          </ul> -->
        </tab>
        


        <tab heading="Map View" ng-click="refreshMap(36.119454, -115.149594)">
          <ui-gmap-google-map events="map.events" draggable="true" center="map.center" zoom="map.zoom" control="control">
            <ui-gmap-markers models="selectedItem.events" coords="'coords'" options="'options'" events="'markerEvents'"></ui-gmap-markers>
          </ui-gmap-google-map>
        </tab>

        

        <tab class="pull-right last" heading="Chat"></tab>
        
      </tabset>
    </div>
    <div class="clearfix padding-bottom-small"></div>
</div>
