.directive-profile {
    .profile-container {
        padding-left:45px;
    }

    .tab-container {
        width:98%;
    }

    .event {

        .tab-content {
            > .active {
                background-color:#695b58;
                width: 100%;
                color:white;
            }
        }
        
        .nav-tabs {
            border:0;

            > li {
                a {
                    cursor:pointer;
                    background-color: @buttonColor;
                    border:none;
                    border-bottom: solid 2px @buttonColorHover;
                    color:white;
                    border-radius:0;
                    text-transform: uppercase;
                    margin-right:4px;

                    &:hover {
                        background-color:@buttonColorHover;
                        border-color:@buttonColorHoverBorder;
                    }
                }

                &.last {
                    a {
                        margin:0;
                    }
                }

                &.active {
                    a {
                        border-color:transparent;
                        background-color: #695b58;
                        padding-bottom: 15px;
                    }
                }
            }
        }

        .restaurant-list {
            li {
                padding:10px 0 10px 30px;
                height:110px;
                color:white;
                &:nth-child(odd) {
                    background-color:rgba(0,0,0,0.05);
                }
            }

            .info {
                width: auto;
                overflow: hidden;

                button {
                    letter-spacing: 0.15em;
                }
            }

            h2 {
                font-size: 1.5em;
                margin: 0;
                color: white;
            }

            .description {
                opacity:0.4;
                font-size: 0.7em;
                line-height: 1.3em;
            }

            margin:0;
            padding:0;

            button {
                margin:0 0 8px;
            }

            .img-crop {
                height:100%;
                width:125px;
                float:left;
                img {
                    height:100%;
                    width:auto;
                }
            }
        }
    }  

    &.collapsed {
        // padding-left: 500px;
    }

    .header-img {
        margin-left:-10%;
        background-size: cover;
        width:110%;
        height:220px;
        position:relative;
        overflow: hidden;

        & > img {
            -webkit-filter: blur(7px);
            filter: blur(7px);
            position: absolute;
            width:100%;
            top:-50%;
        }

        p {
            position: absolute;
            left: 50%;
            z-index: 20;
            color: white;
            text-align: center;
            width: 500px;
            margin-left: -250px;
            bottom: 20px;

            font-size: 1.3em;
            line-height: 1.2em;

            i {
                font-size:0.65em;
            }
        }

        .img-crop {
            width:100px;
            height:100px;
            margin-left: -55px;
            margin-top:30px;
            border-radius: 50px;
            position: absolute;
            left:50%;
            overflow: hidden;

            img {
                width:100px;
                height:100px;
            }
        }
    }

    .headline-txt {
        margin:30px 0;
    }
}



.fc-event-img {
    img {
        width: 100%;
    }
}

.fc-event-title {
    padding:0 3px !important;
}

.fc-widget-header, .fc-widget-content {
    border:solid 2px @flintColor;
}

.fc-border-separate {
    th, td {
        border-width: 2px 0 0 2px;
    }
}

.fc-first {
    &.fc-day,
    &.fc-day-header {
        border-width: 2px 0 0 0;
    }
}

.fc-border-separate th.fc-last, 
.fc-border-separate td.fc-last {
    border-right-width:0;
}

.fc-state-default {
    text-shadow:none;
    border-radius:0 !important;
}

.fc-state-highlight {
    background-color:@lightFlintColor;
}

.fc-day-number {
    // position: absolute;
}

.fc-event {
    background-color:@buttonColor;
    border-radius:0 !important;
    border:0;
    white-space:nowrap;
    cursor: pointer;

    &:hover {
        width:auto !important;
    }
}

.fc-header {
    .fc-header-space {
        display: none;
    }
}






.selected-event-container {
    padding:15px;

    .selected-event {
        position: relative;
        width:100%;
        min-height:150px;
        padding:10px 0 0 10px;
        margin-bottom:15px;
        background-color:@buttonColor;
        border-bottom: solid 4px @buttonColorBorder;

        .buttons {
            .btn {
                width:100%;
                padding:7px 10px;
                margin-bottom:3px;

                &.rsvp {
                    text-shadow:1px 1px rgba(0, 0, 0, 0.3);

                    &.red {
                        background-color:@redColor;
                        &:hover {
                            background-color:@darkRedColor;
                        }
                    }

                    &.yellow {
                        background-color:@yellowColor;
                        &:hover {
                            background-color:@darkYellowColor;
                        }
                    }

                    &.green {
                        background-color:@greenColor;
                        &:hover {
                            background-color:@darkGreenColor;
                        }
                    }
                }

                &:focus {
                    outline:none;
                    border-color: #352826;
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    color:white;
                }

                &:hover {
                    background-color:@buttonColorHover;
                }
            }
        }

        .btn {
            background-color: @flintColor;
            letter-spacing: inherit;
            padding:10px 15px;
        }

        .logo-restaurant {
            width:160px;
            height:130px;
            float:left;
            margin-right: 15px;
            text-align: center;
            position: relative;

            img {
                position: absolute;
                left:0;
                width:100%;
                height:auto;
            }
        }

        .details {
            padding-left:180px;
            .description-cuisine {
                font-size: 0.7em;
                display: block;
                line-height: 1.6em;
            }

            h2 {
                color:white;
                margin:5px 0 0;
            }
        }

        .timestamp {
            background-color:@buttonColorHover;
            padding:5px 20px;
            font-size: 0.8em;
        }

        .btn-close {
            cursor: pointer;
            position: absolute;
            z-index: 40;
            right: -8px;
            top: -8px;
            background-color: black;
            border-radius: 50px;
            width: 30px;
            height: 30px;
            text-align: center;
            text-indent: 2px;
            line-height: 29px;

            i {
                font-size: 1.2em;
                margin-top: 5px;
            }
        }
    }
}





.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.angular-google-map-container {
    height:517px;
}

.angular-google-map {
    padding:7px;
    display: block;
}


