<div class="stream-container">


  <div infinite-scroll='loadMore()' infinite-scroll-distance='2'>
    <div ng-repeat="item in images track by $index" class="stream-item" ng-class="{yellow: $index%3===0, green: ($index+1)%3===0, red: ($index+2)%3===0}" style="background-image:url('{{item.eventImage}}')">
      <div class="soloist">
        <div class="txt">
          <h3 class="headline">{{item.eventTitle}}</h3>
          <p class="datetime">{{convertTime(item.timestamp)}}</p>
          <p class="description">
            <span ng-class="{'description-full': showDescription}">{{item.eventDescription}}<span class="btn-less" ng-click="showDescription = false" ng-show="showDescription">(less)</span></span>
            <span class="btn-more" ng-click="showDescription = true" ng-hide="showDescription">(more)</span>
          </p>
          <div class="clearfix"></div>
        </div>

        <div class="people-container">
          <div ng-repeat="attendee in item.attendees | amountToShow:minCount" class="person">
            <div class="img-crop" >
              <img src="{{attendee.photos[2]}}"/>
            </div>
          </div>
          <span class="btn-more" ng-hide="minCount>=item.attendees.length" ng-click="minCount=item.attendees.length">+{{item.attendees.length-5}} more</span>
          <div class="clearfix"></div>
        </div>

        <button>I'm Interested</button>
        <div class="clearfix"></div>
      </div>



      
      <div class="clearfix"></div>
    </div>
  </div>


  
</div>




