//***** STREAM *****//
.directive-stream {
  padding:0;
  height:100%;
  position: relative;
  z-index: 10;

  .headline {
    font-size: 1.6em;
    line-height: 1.15em;
    color:white !important;
    margin:0;
    padding:0;
  }
  .datetime {
    font-size: 1.4em;
  }
  .description {
    padding-top:10px;
    font-size: 0.9em;
  }
  .description span:first-child {
    display: block;
    float:left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;

    &.description-full {
        overflow: visible;
        text-overflow: initial;
        white-space: normal;
        width: 100%;
    }
  }

  .btn-more {
    border-bottom: solid 1px white;
    cursor: pointer;
  }
  .btn-less {
    cursor: pointer;
    width:35px;
  }

  button {
    color:#5D5D5D;
    background:white;
    border-radius:5px;
    border:0;
    padding:2px 8px;
    font-family: 'Lobster Two', cursive;
    font-size: 1.2em;
    width: 16%;
    margin:13px 4% 0 0;
    float:right;

    -moz-box-shadow: 1px 3px 2px rgba(0,0,0,0.55);
    -webkit-box-shadow: 1px 3px 2px rgba(0,0,0,0.55);
    box-shadow: 1px 3px 2px rgba(0,0,0,0.55);
  }

  .stream-container {
    .stream-item {
        // height:250px;
        // width:500px;

        // transition: width .3s ease-in, height .3s ease-in;
        // -webkit-transition: width .3s ease-in, height .3s ease-in;
        // -moz-transition: width .3s ease-in, height .3s ease-in;
        // -o-transition: width .3s ease-in, height .3s ease-in;

        background-size: cover !important;
        background-position: 0 50%;
        background-repeat: no-repeat;
        background-blend-mode: multiply;

        .soloist {
            width: 100%;
            min-height: 225px;
            position: relative;
        }

        .txt {
        	padding:20px 5%;
        	// height:250px;
            width:100%;
        	float:right;

        	p {
        		color:white;
        		line-height: 1.4em;
        		margin:0;
        	}

        	.title {
        		margin-top:40px;
        		text-decoration: underline;
        		font-style: italic;
        		opacity: 0.5;
        	}
        }

        .people-container {
            // position: absolute;
            // bottom:20px;
            // left:40px;
            margin:0 0 20px 5%;
            width:75%;
            float:left;
            .btn-more {
                line-height: 50px;
                color:white;
            }
        }

        &:hover {
        	.img-crop.profile-img {
        		img {
					transition: opacity .10s linear;
					-webkit-transition: opacity .10s linear;
					-moz-transition: opacity .10s linear;
					-o-transition: opacity .10s linear;

					opacity: 1;
        		}
        	}
        }

        background-color:@darkGreyColor;
        border-bottom:solid 1px black;
        
        &.red {
        	background-color:@redColor;
            border-bottom:solid 1px #cf3e16;
        }

        &.yellow {
        	background-color:@yellowColor;
            border-bottom:solid 1px #c99109;
        }

        &.green {
        	background-color:@greenColor;
            border-bottom:solid 1px #578c80;
        }

        &.expanded {
            width:530px;
            // height:500px;
            padding-bottom:40px;
            position:relative;

            transition: all .3s ease-out;
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;

            .img-crop.profile-img {
                img {
                    opacity: 1;
                }
            }

            .txt {
                float:left;
            }

            .logo-img {
                width:280px;

                transition: width .3s ease-out;
                -webkit-transition: width .3s ease-out;
                -moz-transition: width .3s ease-out;
                -o-transition: width .3s ease-out;
            }

            

            &:after {
                left: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(136, 183, 213, 0);
                border-width: 20px;
                margin-top: -20px;
                border-left-color: @darkGreyColor;
            }

            &.red {
                &:after {
                    border-left-color: @redColor;
                }
            }

            &.yellow {
                &:after {
                    border-left-color: @yellowColor;
                }
            }

            &.green {
                &:after {
                    border-left-color: @greenColor;
                }
            }
        }
    }
  }  
}

.people-container {
    .person {
        float:left;
        margin: 0 7px 7px 0;
        img {
            width:50px;
            height:50px;
            margin-left:-2px;
        }
    }

    .img-crop {
        width:50px;
        height:50px;
        border-radius: 50px;
        border:solid 2px white;
        overflow:hidden;
    }

    .btn-more {
        line-height: 50px;
        color:white;
    }
}
