/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';


/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';



html, body {
  height:100%;
}


.clearfix {
  clear:both;
}




.text-center {
  text-align:center !important;
}

.text-left {
  text-align:left !important;
}

.text-right {
  text-align:right !important;
}




.cen-none {
  border:0 !important;
}

.btn {
  background: @buttonColor;
  padding:14px 15px;
  border:0;
  border-bottom:solid 2px @buttonColorBorder;
  color:white;
  border-radius:0;
  text-transform: uppercase;
  font-size: inherit;
  display: inline;
  line-height: inherit;

  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;

  &:hover {
    color:white;
    cursor:pointer;
    background:@buttonColorHover;
    border:0;
    border-bottom:solid 2px @buttonColorHoverBorder;

    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
  }
}

.btn-light {
  background: @buttonColor;
  border-color:@flintColor
}





body {
  background-color: #756764;
  font: 16px/24px 'Lato', Arial, Helvetica, sans-serif;

  .container {
    padding:0;
    margin:0 auto;
    height:100%;
    background: yellow;
  }
}


ul {
  list-style-type: none;
  padding:0;

  li {
    padding: 0;
  }
}





.padding-none {
  padding:0 !important;
}

.padding-small {
  padding:15px !important;
}

.padding-medium {
  padding:30px !important;
}

.padding-large {
  padding:45px !important;
}

.padding-left-small {
  padding-left:15px !important;
}

.padding-left-medium {
  padding-left:30px !important;
}

.padding-left-large {
  padding-left:45px !important;
}

.padding-bottom-small {
  padding-bottom:15px !important;
}





.margin-none {
  margin:0 !important;
}

.margin-small {
  margin:15px !important;
}

.margin-top-small {
  margin-top:15px !important;
}

.margin-right-small {
  margin-right:15px !important;
}

.margin-bottom-small {
  margin-right:15px !important;
}

.margin-top-medium {
  margin-top: 30px !important;
}

.margin-bottom-medium {
  margin-bottom: 30px !important;
}

.margin-top-large {
  margin-top: 50px !important;
}

.margin-bottom-large {
  margin-bottom: 30px !important;
}





/**
 * Input styles
 */

form {
  input {
    border: solid 1px #515151;
  }

  .single-input {
    margin:15px 5px;

    span {
      margin-right:20px;
    }

    input[type=checkbox] {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    label {
      cursor: pointer;
      padding:0;
      margin:0 !important;
      width: 100%;
      text-align: left;
      line-height: 20px;
      font-weight: 400;
      background: #5297B2;
    }

    /* Default State */
    input[type=checkbox] + label > div {
      background: url('sprite.svg') 0 0 no-repeat;
      background-size: 960px 560px;
      width: 16px;
      height: 10px;
      position: absolute;
      top: 15px;
      left: 7px;
    }

    /* Toggled State */
    input[type=checkbox]:checked + label {
      background: #878787;
      > div {
        background-position: 0 -10px;
      }
      span {
        color:#515151;
      }
    }
  }
}





/**
 * Typography
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}

code, pre, .pre {
  padding: 5px;
  margin: 10px 0;
  background-color: #EFEFEF;
  border: 1px solid #DADADA;
  border-radius: 3px;
}

code {
  padding: 0 3px;
}

pre {
  margin: 10px 0;
  padding: 5px;
}

.page-header {
  margin-top: 60px;

  &:first-child {
    margin-top: 20px;
  }
}

h2 {
  margin: 20px 0;
  color: #666;
}



/**
 * Footer
 */

.footer {
  margin-top: 80px;

  .footer-inner {
    padding: 40px 0;
    border-top: 1px solid #DDD;
  }

  .social {
    float: right;
    margin: 0;
    list-style: none;

    li {
      float: left;
      margin-left: 20px;

      a, a:visited {
        color: @gray-light;
        text-decoration: none;
        font-size: 40px;
        .transition( 250ms ease-in-out );

        &:hover {
          color: @gray;
        }
      }
    }
  }
}








/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';
@import '../app/directives/filter.less';
@import '../app/directives/stream.less';
@import '../app/directives/profile.less';
@import '../app/directives/peopleList.less';

