/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;

@flintColor: #756764;
@lightFlintColor: #b0aaa8;

@redColor: #f04f23;
@darkRedColor:#d93f15;

@yellowColor:#efb21e;
@darkYellowColor:#dba115;

@greenColor:#7cbaac;
@darkGreenColor:#68A99B;

@darkGreyColor: #343434;

@buttonColor:#493a37;
@buttonColorHover:#352826;
@buttonColorBorder:@buttonColorHover;
@buttonColorHoverBorder:black;