<!DOCTYPE html>
<html ng-app="ngSoloists" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@caiticoco">
    <meta name="twitter:title" content="Soloists">
    <meta name="twitter:description" content="Try new restaurants.">
    <meta name="twitter:creator" content="@caiticoco">
    <meta name="twitter:image:src" content="">
    <meta property="og:title" content="Soloists" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/soloists" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Try new restaurants.">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Select2 theme -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">

    <!-- Google font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two:400,700' rel='stylesheet' type='text/css'>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>



  </head>
  <body>

    <div ui-view="main" id="main" style="height:100%"></div>

  </body>
</html>
