.content-container {
	margin-left:25%;
	height:100%;

	transition: margin-left .50s ease-out;
    -webkit-transition: margin-left .50s ease-out;
    -moz-transition: margin-left .50s ease-out;
    -o-transition: margin-left .50s ease-out;

	&.collapsed {
		margin:0;

		transition: margin-left .50s ease-out;
	    -webkit-transition: margin-left .50s ease-out;
	    -moz-transition: margin-left .50s ease-out;
	    -o-transition: margin-left .50s ease-out;
	}
}
