<div sol-filter expand-or-collapse="expandOrCollapse" filter-updated="filterUpdated" filter-options="filterOptions" class="directive-filter col-md-3"></div>
<div class="content-container col-md-7 padding-none">
	<div sol-stream expand-or-collapse="expandOrCollapse" filter-updated="filterUpdated" filter-options="filterOptions" class="directive-stream" data="streamData" selected-item="selectedItem"></div>
	<div sol-profile ng-show="expandOrCollapse==='collapsed'" class="directive-profile" data="profileData" selected-item="selectedItem"></div>
</div>
<div sol-people-list class="directive-people-list col-md-2"></div>

